@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans m-0 bg-gray-100;
}

.wrapper {
  @apply max-w-3xl my-5 mx-auto;
}

header {
  @apply bg-blue-700 text-white p-5 text-center rounded-b-xl;
}

select, button {
  @apply p-2 mb-3 rounded;
}

button.primary {
  @apply bg-blue-700 text-white border-0 cursor-pointer;
}

.domain, .process, .app {
  @apply bg-white border border-gray-300 p-2 rounded mb-2;
}

.process {
  @apply ml-5;
}

.app {
  @apply ml-10;
}

.actions button {
  @apply mr-2;
}

h2, h3, h4 {
  @apply cursor-pointer m-0;
}

.domain.collapsed > .process {
  display: none;
}

.process.collapsed > .app {
  display: none;
}

dialog {
  @apply border-0 rounded-lg p-5;
}

dialog::backdrop {
  background: rgba(0,0,0,0.3);
}
